th {
    &:hover {
        cursor: pointer;
    }
    span::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    &.asc {
        span::before {
            font-family: "Font Awesome 5 Free";
            content: "\f062";
        }
    }
    &.desc {
        span::before {
            font-family: "Font Awesome 5 Free";
            content: "\f063";
        }
    }
}