// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@fortawesome/fontawesome-free/css/all.min.css";
div.tooltip {
    background: #666666;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 10px;
    padding: 5px 7px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    // height: 28px;
    width: auto;
}